#App {
    display: grid;
    grid-template-rows: [y0] 10.9% [y1] 86.3% [y2]; 
    grid-template-columns: [x0] 20.7% [x1] 76.9% [x2];
    gap: 1.4%;
    height: 100vh;  
}

#Pages {
    grid-row: y1 / y2;
    grid-column: x1 / x2;
}
